  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">简介</h5>
          <p class="grey-text text-lighten-4">YCNL是一款非盈利或商业性质的偏娱乐性的破坏性工具（当然你可以叫它病毒），功能性多样。于2023‎年‎1‎月‎11‎日发布第一个版本，目前为止（2023年5月9日）已发布4个正式版本，2个公开测试版本或非公开内部测试版本。</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">页面</h5>
          <ul>
            <li><a class="white-text" href="/ycnl.cn/">主页</a></li>
            <li><a class="white-text" href="#!">市场及下载</a></li>
            <li><a class="white-text" href="/ycnl.cn/docs/ycnl/">文档</a></li>
            <li><a class="white-text" href="#!">副产品及其他</a></li>
            <li><a class="white-text" href="#!">关于</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">产品</h5>
          <ul>
            <li><a class="white-text" href="#!">YCNL</a></li>
            <li><a class="white-text" href="#!">YCNL PE</a></li>
            <li><a class="white-text" href="#!">YCNL LoadingBooter</a></li>
            <li><a class="white-text" href="#!">其他</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div>
                <span style="text-align: right; float: right">
                Copyright © 2023 YCNL(Youcannotlogon) Develop Group.
                </span>
            </div>
        </div>
    </div>
</footer>